In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset_file = R".\Data\populationbycountry19802010millions.csv"

In [8]:
df_pop = pd.read_csv(dataset_file)
print(df_pop.head())

      Unnamed: 0       1980       1981       1982       1983       1984  \
0  North America  320.27638  324.44694  328.62014  332.72487  336.72143
1        Bermuda    0.05473    0.05491    0.05517    0.05551    0.05585
2         Canada    24.5933       24.9    25.2019    25.4563    25.7018
3      Greenland    0.05021    0.05103    0.05166    0.05211    0.05263
4         Mexico   68.34748   69.96926    71.6409   73.36288   75.08014

        1985       1986       1987      1988    ...           2001       2002  \
0  340.74811  344.89548  349.07829  353.2939    ...      417.83236  422.05268
1    0.05618    0.05651    0.05683   0.05717    ...        0.06361    0.06418
2    25.9416    26.2038    26.5497   26.8948    ...       31.37674   31.64096
3    0.05315    0.05364     0.0541   0.05485    ...        0.05713    0.05736
4   76.76723   78.44243   80.12249  81.78182    ...      101.24696  102.47993

        2003       2004       2005       2006       2007       2008  \
0  426.06238  430.26938  434.47232  438.82964   443.3473  447.67394
1    0.06476    0.06534    0.06591    0.06644    0.06692    0.06739
2   31.88931   32.13476   32.38638   32.65668   32.93596    33.2127
3    0.05754     0.0577    0.05778    0.05764    0.05753    0.05756
4  103.71806  104.95959   106.2029  107.44953  108.70089   109.9554

        2009       2010
0  451.83698  456.59331
1    0.06784    0.06827
2   33.48721   33.75974
3     0.0576    0.05764
4  111.21179  112.46886

[5 rows x 32 columns]

In [30]:
print(df_pop.tail())   # Prints the last 5 rows of the data frame

               Unnamed: 0        1980        1981        1982       1983  \
227  U.S. Pacific Islands     0.13796     0.14283     0.14762    0.15281
228               Vanuatu     0.11679     0.12026     0.12379    0.12738
229               Vietnam     53.7152    54.90268    56.14218   57.43635
230           Wake Island         NaN         NaN         NaN        NaN
231                 World  4451.32679  4534.01064  4613.94102  4694.9362

           1984        1985       1986        1987       1988     ...      \
227     0.15825     0.16406    0.17104     0.17903    0.18841     ...
228     0.13103     0.13473    0.13848     0.14227    0.14612     ...
229    58.76204    60.09307   61.43983    62.82649   64.21135     ...
230         NaN         NaN        NaN         NaN        NaN     ...
231  4775.05313  4856.52116  4940.1947  5026.35348  5113.1907     ...

           2001        2002       2003        2004        2005        2006  \
227     0.25365     0.25739    0.26116     0.26494     0.25814     0.24957
228     0.19317     0.19646    0.19971     0.20293     0.20609     0.20922
229    80.20948    81.25796   82.29659    83.35245    84.42493    85.47054
230         NaN         NaN        NaN         NaN         NaN         NaN
231  6165.32364  6241.71768  6317.4264  6393.12094  6469.12974  6545.88444

           2007        2008        2009        2010
227     0.24888     0.24678     0.24424     0.24221
228     0.21234     0.21545     0.21852     0.22155
229    86.51885    87.55836    88.57676    89.57113
230         NaN         NaN         NaN         NaN
231  6623.57196  6700.76588  6776.91747  6853.01941

[5 rows x 32 columns]

In [27]:
print(df_pop)

                            Unnamed: 0        1980        1981        1982  \
0                        North America   320.27638   324.44694   328.62014
1                              Bermuda     0.05473     0.05491     0.05517
2                               Canada     24.5933        24.9     25.2019
3                            Greenland     0.05021     0.05103     0.05166
4                               Mexico    68.34748    69.96926     71.6409
5            Saint Pierre and Miquelon     0.00599     0.00601     0.00605
6                        United States   227.22468   229.46571   231.66446
7              Central & South America   293.05856   299.43033   305.95253
8                           Antarctica         NaN         NaN         NaN
9                  Antigua and Barbuda     0.06855     0.06826     0.06801
10                           Argentina     28.3698    28.84806    29.32988
11                               Aruba          --          --          --
12                        Bahamas, The     0.20976     0.21345     0.21713
13                            Barbados     0.25197     0.25236     0.25348
14                              Belize     0.14442     0.14921      0.1533
15                             Bolivia      5.4413     5.54522     5.64222
16                              Brazil   123.01963   125.99213   129.02765
17                      Cayman Islands     0.01708      0.0179     0.01852
18                               Chile    11.09372     11.2823    11.48711
19                            Colombia    26.63129    27.21489    27.82604
20                          Costa Rica     2.29912     2.35729     2.42437
21                                Cuba     9.65298     9.71198     9.78922
22                            Dominica     0.07389     0.07352     0.07381
23                  Dominican Republic     5.69686     5.83171     5.96874
24                             Ecuador      7.9205     8.14108     8.36585
25                         El Salvador     4.57041     4.51972     4.47992
26   Falkland Islands (Islas Malvinas)       0.002       0.002       0.002
27                       French Guiana        0.07        0.07        0.07
28                             Grenada     0.09016     0.09235     0.09241
29                          Guadeloupe       0.337       0.339       0.341
..                                 ...         ...         ...         ...
202                              Japan   116.80731   117.64809   118.45497
203                           Kiribati     0.05754     0.05845     0.05935
204                       Korea, North    17.11363    17.38401    17.64752
205                       Korea, South      38.124      38.723      39.326
206                               Laos     3.29316     3.33698     3.41116
207                              Macau     0.25577     0.26093     0.27081
208                           Malaysia    13.46009    13.87521    14.30829
209                           Maldives     0.15287     0.15725      0.1619
210                           Mongolia     1.66238     1.70883     1.75603
211                              Nauru     0.00771     0.00785       0.008
212                              Nepal    14.66525    15.01086    15.37507
213                      New Caledonia      0.1394      0.1425       0.145
214                        New Zealand     3.16815     3.18345      3.2149
215                               Niue       0.002       0.002       0.002
216                           Pakistan    85.21912    90.97508    94.09612
217                   Papua New Guinea      2.8464     2.91716       2.991
218                        Philippines    50.94018     52.2276    53.55718
219                              Samoa     0.15904     0.16092     0.16074
220                          Singapore      2.4139     2.53537     2.65187
221                    Solomon Islands     0.23077     0.23874     0.24693
222                          Sri Lanka    15.05597    15.31549    15.57547
223                             Taiwan    17.84832    18.17743    18.50139
224                           Thailand    47.02576     47.9365    48.82716
225           Timor-Leste (East Timor)          --          --          --
226                              Tonga     0.09136     0.09177      0.0922
227               U.S. Pacific Islands     0.13796     0.14283     0.14762
228                            Vanuatu     0.11679     0.12026     0.12379
229                            Vietnam     53.7152    54.90268    56.14218
230                        Wake Island         NaN         NaN         NaN
231                              World  4451.32679  4534.01064  4613.94102

          1983        1984        1985       1986        1987       1988  \
0    332.72487   336.72143   340.74811  344.89548   349.07829   353.2939
1      0.05551     0.05585     0.05618    0.05651     0.05683    0.05717
2      25.4563     25.7018     25.9416    26.2038     26.5497    26.8948
3      0.05211     0.05263     0.05315    0.05364      0.0541    0.05485
4     73.36288    75.08014    76.76723   78.44243    80.12249   81.78182
5      0.00607     0.00611     0.00616    0.00621     0.00625    0.00628
6    233.79199    235.8249    237.9238  240.13289   242.28892  244.49898
7    312.51136   318.87955   325.22704  331.82291   338.59859  345.44544
8          NaN         NaN         NaN        NaN         NaN        NaN
9      0.06562     0.06447      0.0644     0.0644     0.06442    0.06443
10    29.79355    30.23064    30.67176   31.14499    31.62462   32.09932
11          --          --          --     0.0598     0.05918     0.0595
12     0.22086     0.22462      0.2282    0.23143     0.23448    0.23771
13     0.25485     0.25611     0.25725    0.25827     0.25912    0.25995
14     0.15685     0.16081     0.16556    0.17124     0.17635     0.1814
15     5.73743     5.83429     5.93494    6.04135     6.15637    6.28316
16   131.96012   134.69947   137.38198  140.19628   143.02654  145.87275
17     0.01909     0.02002     0.02085    0.02144     0.02207     0.0245
18    11.68662    11.87977     12.0678     12.261    12.46452   12.67869
19    28.45499    29.09546    29.74762   30.41039     31.0853   31.77087
20     2.49435      2.5676     2.64431    2.72338     2.79934    2.87412
21     9.88126     9.97373    10.06563   10.14438    10.21682   10.30552
22     0.07429     0.07399     0.07311    0.07238     0.07182    0.07134
23     6.10582     6.24155     6.37855    6.51682     6.65696    6.79877
24     8.59349     8.82583     9.06166    9.30108     9.54516    9.79412
25     4.52671     4.59375     4.67105    4.75832     4.85014    4.93899
26       0.002       0.002       0.002      0.002       0.002      0.002
27        0.08        0.08        0.09       0.09         0.1       0.11
28     0.09253     0.09274     0.09306    0.09355     0.09406    0.09429
29       0.345        0.35       0.354      0.358       0.363      0.367
..         ...         ...         ...        ...         ...        ...
202  119.26995    120.0347   120.75434  121.49191   122.09133    122.613
203    0.06025     0.06115     0.06203    0.06377     0.06559    0.06748
204   17.91799      18.196    18.48142   18.77246    19.06755   19.37114
205      39.91      40.406      40.806     41.214      41.622     42.031
206    3.49496     3.57671     3.65717    3.76177     3.86931    3.97988
207    0.28545     0.29898     0.30584     0.3122     0.32298    0.33214
208   14.75262    15.19792    15.64911   16.11117     16.5789   17.05511
209    0.16685      0.1721      0.1773    0.18461     0.19221    0.20008
210      1.805     1.85569      1.9077     1.9608     2.01513    2.07072
211    0.00815     0.00833     0.00852    0.00871     0.00891     0.0091
212   15.75685    16.15506    16.56998   17.00221    17.45269   17.92208
213    0.14658     0.14966     0.15259    0.15558     0.15873    0.16194
214    3.25645     3.29609     3.32181    3.33863     3.35049    3.35931
215      0.002       0.002       0.002      0.002       0.002      0.002
216   96.88143    99.35434   102.07865  105.23962   108.58408  112.02109
217     3.0676      3.1469     3.22893    3.31375     3.40147    3.49213
218   54.88541    56.25788    57.70569   59.18595    60.64811   62.08071
219    0.16066     0.16066     0.16074    0.16086      0.1611    0.16152
220    2.68926      2.7433      2.7499    2.75007     2.79455    2.86927
221    0.25535     0.26401     0.27293    0.28212     0.29154    0.30118
222   15.78446    15.97692    16.18811   16.42379    16.66312   16.90308
223   18.80339    19.08335    19.33736   19.55558     19.7578    19.9761
224   49.69425    50.53378    51.34181   52.12948    52.91034   53.68343
225         --          --          --         --          --         --
226    0.09263     0.09288     0.09335    0.09374       0.094    0.09332
227    0.15281     0.15825     0.16406    0.17104     0.17903    0.18841
228    0.12738     0.13103     0.13473    0.13848     0.14227    0.14612
229   57.43635    58.76204    60.09307   61.43983    62.82649   64.21135
230        NaN         NaN         NaN        NaN         NaN        NaN
231  4694.9362  4775.05313  4856.52116  4940.1947  5026.35348  5113.1907

        ...            2001        2002       2003        2004        2005  \
0       ...       417.83236   422.05268  426.06238   430.26938   434.47232
1       ...         0.06361     0.06418    0.06476     0.06534     0.06591
2       ...        31.37674    31.64096   31.88931    32.13476    32.38638
3       ...         0.05713     0.05736    0.05754      0.0577     0.05778
4       ...       101.24696   102.47993  103.71806   104.95959    106.2029
5       ...         0.00637     0.00633    0.00629     0.00625      0.0062
6       ...       285.08156   287.80391  290.32642   293.04574   295.75315
7       ...       427.24012   433.05116  438.97976   445.01525   451.05504
8       ...             NaN         NaN        NaN         NaN         NaN
9       ...         0.07673     0.07794    0.07907     0.08019     0.08128
10      ...        37.69417    37.99945   38.33688    38.74183    39.18126
11      ...         0.09097     0.09217    0.09372     0.09546     0.09698
12      ...         0.28569     0.28858    0.29135     0.29406     0.29671
13      ...         0.27491     0.27622    0.27755     0.27882     0.28004
14      ...         0.25464      0.2613    0.26796     0.27462     0.28129
15      ...         8.36745     8.54249    8.71906     8.89597     9.07294
16      ...       178.86966   181.41759  183.95992    186.4886   188.99308
17      ...         0.03962      0.0408    0.04199     0.04316     0.04434
18      ...        15.33189    15.50394   15.67191    15.83563    15.99504
19      ...        39.31245    39.80495   40.35102    40.92215    41.48778
20      ...         3.95621     4.02095    4.08382      4.1467     4.20869
21      ...        11.15582    11.20269   11.24668    11.28785    11.32615
22      ...         0.07121     0.07153    0.07173     0.07193     0.07212
23      ...         8.61355      8.7569    8.89658     9.03239     9.16447
24      ...        12.62912    12.82728   13.07418     13.3684    13.66232
25      ...          5.8837     5.90183    5.91985     5.93512     5.95622
26      ...          0.0029     0.00293    0.00297     0.00297     0.00297
27      ...         0.17756     0.18224    0.18692     0.19131     0.19131
28      ...         0.10229     0.10284    0.10332     0.10397     0.10459
29      ...         0.43117     0.43568    0.44019     0.44452     0.44452
..      ...             ...         ...        ...         ...         ...
202     ...       126.97191   127.18724  127.35774    127.4805   127.53719
203     ...         0.08676     0.08826     0.0897     0.09112     0.09259
204     ...        21.49473    21.71214   21.89828    22.05448    22.19857
205     ...        47.17781    47.43728   47.65663    47.85385    48.00516
206     ...         5.49852     5.57803      5.654     5.74604     5.83636
207     ...         0.43478     0.43898    0.44418     0.45523     0.47403
208     ...        23.73736    24.28261    24.8804    25.47547    25.96812
209     ...         0.30591     0.31186    0.31849      0.3266     0.33625
210     ...         2.70447     2.74455    2.78408     2.82457     2.86599
211     ...         0.00989     0.00992    0.00993     0.00997     0.01001
212     ...        25.33561    25.81505   26.27538    26.70832    27.09387
213     ...         0.21528     0.21944    0.22369     0.22802      0.2324
214     ...         3.83576     3.89633    3.95813     4.00601     4.04606
215     ...         0.00212     0.00213    0.00215     0.00216     0.00216
216     ...       156.79544   160.26923  163.16564   166.22361   169.27864
217     ...         4.93745      5.0626    5.18811     5.31389     5.43977
218     ...        83.09528    84.93641   86.75169    88.62179    90.43579
219     ...         0.17779     0.17943    0.18109     0.18277     0.18449
220     ...         4.12023     4.19778    4.27679     4.35389     4.42572
221     ...         0.44591     0.45822    0.47065     0.48317     0.49575
222     ...        19.64627    19.87007   20.09749    20.30327    20.50426
223     ...        22.33581    22.45063   22.54347    22.62239    22.70108
224     ...        62.68514    63.21312   63.73055    64.24084     64.7426
225     ...              --          --    0.99855     1.02005     1.04181
226     ...         0.10426     0.10616    0.10817     0.11026     0.11245
227     ...         0.25365     0.25739    0.26116     0.26494     0.25814
228     ...         0.19317     0.19646    0.19971     0.20293     0.20609
229     ...        80.20948    81.25796   82.29659    83.35245    84.42493
230     ...             NaN         NaN        NaN         NaN         NaN
231     ...      6165.32364  6241.71768  6317.4264  6393.12094  6469.12974

           2006        2007        2008        2009        2010
0     438.82964    443.3473   447.67394   451.83698   456.59331
1       0.06644     0.06692     0.06739     0.06784     0.06827
2      32.65668    32.93596     33.2127    33.48721    33.75974
3       0.05764     0.05753     0.05756      0.0576     0.05764
4     107.44953   108.70089    109.9554   111.21179   112.46886
5       0.00615      0.0061     0.00605       0.006     0.00594
6     298.59321    301.5799   304.37485   307.00655   310.23286
7     457.01699   462.89157   468.73872   474.53897   480.01228
8           NaN         NaN         NaN         NaN         NaN
9       0.08234     0.08343     0.08452     0.08563     0.08675
10     39.61443    40.04882      40.482    40.91358     41.3432
11       0.0985     0.10002     0.10154     0.10307     0.10459
12      0.29929     0.30197     0.30473     0.30755     0.31043
13      0.28121     0.28236      0.2835     0.28459     0.28565
14      0.28795     0.29461     0.30127      0.3079     0.31452
15      9.24971     9.42594     9.60126     9.77525     9.94742
16    191.46901   193.91858   196.34259   198.73927   201.10333
17      0.04552     0.04669     0.04786     0.04904     0.05021
18     16.15084    16.30385    16.45414    16.60171    16.74649
19     42.04625    42.59732    43.14111    43.67737    44.20529
20      4.26977     4.33113     4.39324     4.45505     4.51622
21     11.36155    11.39404    11.42395    11.45165    11.47746
22      0.07225     0.07238     0.07251     0.07266     0.07281
23      9.29504     9.42623     9.55818     9.69079     9.82382
24     13.91706    14.13496    14.35447     14.5731    14.79061
25      5.97089     5.98175     6.00645      6.0306     6.05206
26      0.00297     0.00297     0.00314     0.00314     0.00314
27      0.19131     0.19131     0.19131     0.19131     0.19131
28       0.1052     0.10589     0.10656      0.1072     0.10782
29      0.44452     0.44452     0.44452     0.44452     0.44452
..          ...         ...         ...         ...         ...
202   127.51517   127.43349   127.28842   127.07868   126.80443
203     0.09406     0.09548     0.09686     0.09819     0.09948
204    22.33156    22.45422    22.56535    22.66535    22.75728
205    48.12356    48.25015    48.37939    48.50897    48.63607
206     5.93079     6.03541     6.14518     6.25687     6.36816
207     0.49943     0.52553     0.54567     0.55985     0.56796
208    26.43216    26.89556    27.35776    27.81787    28.27473
209     0.34812     0.36497     0.38593     0.39633     0.39565
210      2.9084     2.95179     2.99608     3.04114     3.08692
211     0.00957     0.00912     0.00916     0.00921     0.00927
212    27.45895    27.82789    28.19696    28.56338    28.95185
213     0.23651     0.24045     0.24445     0.24841     0.25235
214      4.0878     4.13018      4.1713     4.21126     4.25012
215     0.00216     0.00216     0.00216     0.00216     0.00216
216   172.38187   175.49508   178.47939   181.45728   184.40479
217     5.56556     5.69109     5.81623     5.94078     6.06452
218    92.26694    94.15747    96.06168     97.9766    99.90018
219     0.18625     0.18796      0.1895      0.1909       0.192
220     4.49215     4.55301     4.60817     4.65754     4.70107
221     0.50838     0.52107     0.53378     0.54649      0.5592
222    20.71793    20.92632    21.12877    21.32479    21.51399
223    22.78187    22.85887    22.92095    22.97435    23.02496
224    65.23501    65.71702    66.18726    66.64481     67.0895
225     1.06384     1.08617     1.10878     1.13161     1.15463
226     0.11471     0.11694     0.11901      0.1209     0.12258
227     0.24957     0.24888     0.24678     0.24424     0.24221
228     0.20922     0.21234     0.21545     0.21852     0.22155
229    85.47054    86.51885    87.55836    88.57676    89.57113
230         NaN         NaN         NaN         NaN         NaN
231  6545.88444  6623.57196  6700.76588  6776.91747  6853.01941

[232 rows x 32 columns]

In [5]:
print(type(df_pop))  # <class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.frame.DataFrame'>

In [10]:
print(df_pop.shape) # (232, 32) This is a tuple  -> 232 countries, 32 years worth data

(232, 32)

In [11]:
print(df_pop.columns)

Index(['Unnamed: 0', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010'],
      dtype='object')

In [13]:
print(df_pop.dtypes)   # Print the data type of the elements in each column. 
                       # All elements of a column can have only one specific type of data
                       # Everything in python is an object. Also, strings are considered object types in Pandas

Unnamed: 0    object
1980          object
1981          object
1982          object
1983          object
1984          object
1985          object
1986          object
1987          object
1988          object
1989          object
1990          object
1991          object
1992          object
1993          object
1994          object
1995          object
1996          object
1997          object
1998          object
1999          object
2000          object
2001          object
2002          object
2003          object
2004          object
2005          object
2006          object
2007          object
2008          object
2009          object
2010          object
dtype: object

In [14]:
print(df_pop.info())  # To get some summary of the data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 32 columns):
Unnamed: 0    232 non-null object
1980          229 non-null object
1981          229 non-null object
1982          229 non-null object
1983          229 non-null object
1984          229 non-null object
1985          229 non-null object
1986          229 non-null object
1987          230 non-null object
1988          230 non-null object
1989          230 non-null object
1990          230 non-null object
1991          230 non-null object
1992          230 non-null object
1993          230 non-null object
1994          230 non-null object
1995          230 non-null object
1996          230 non-null object
1997          230 non-null object
1998          230 non-null object
1999          230 non-null object
2000          230 non-null object
2001          230 non-null object
2002          230 non-null object
2003          230 non-null object
2004          230 non-null object
2005          230 non-null object
2006          230 non-null object
2007          230 non-null object
2008          230 non-null object
2009          230 non-null object
2010          230 non-null object
dtypes: object(32)
memory usage: 58.1+ KB
None

We can extract information based on the column names:

In [16]:
pop_1980 = df_pop['1980']   # Extract all the columns for the year 1980 into a series

In [19]:
print(type(pop_1980))   # <class 'pandas.core.series.Series'>

<class 'pandas.core.series.Series'>

In [29]:
print(pop_1980)

0       320.27638
1         0.05473
2         24.5933
3         0.05021
4        68.34748
5         0.00599
6       227.22468
7       293.05856
8             NaN
9         0.06855
10        28.3698
11             --
12        0.20976
13        0.25197
14        0.14442
15         5.4413
16      123.01963
17        0.01708
18       11.09372
19       26.63129
20        2.29912
21        9.65298
22        0.07389
23        5.69686
24         7.9205
25        4.57041
26          0.002
27           0.07
28        0.09016
29          0.337
          ...
202     116.80731
203       0.05754
204      17.11363
205        38.124
206       3.29316
207       0.25577
208      13.46009
209       0.15287
210       1.66238
211       0.00771
212      14.66525
213        0.1394
214       3.16815
215         0.002
216      85.21912
217        2.8464
218      50.94018
219       0.15904
220        2.4139
221       0.23077
222      15.05597
223      17.84832
224      47.02576
225            --
226       0.09136
227       0.13796
228       0.11679
229       53.7152
230           NaN
231    4451.32679
Name: 1980, Length: 232, dtype: object

In [37]:
print(df_pop.iloc[0][0])

North America

In [41]:
df_pop_1980_83 = df_pop[['Unnamed: 0', '1980', '1981', '1982', '1983']]  
# Get the columns from 1980 to 1983 along with the country name

In [43]:
print(df_pop_1980_83.head())

      Unnamed: 0       1980       1981       1982       1983
0  North America  320.27638  324.44694  328.62014  332.72487
1        Bermuda    0.05473    0.05491    0.05517    0.05551
2         Canada    24.5933       24.9    25.2019    25.4563
3      Greenland    0.05021    0.05103    0.05166    0.05211
4         Mexico   68.34748   69.96926    71.6409   73.36288

Since we don't have a proper name for the countries column, let us rename the same

In [ ]:
df_pop